<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>

    <h1>Welcome to express app</h1>

    <div class="parent">
      <div class="child">
        <h4>Login</h4>
        <a href="/auth/login"><button>🤟</button></a>
      </div>
      <div class="child">
        <h4>Register</h4>
        <a href="/auth/register"><button>👉</button></a>
      </div>
    </div>


    <footer>Made by <strong>@Rahul Suthar</strong></footer>
  </body>
</html>
