<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="confPassword" placeholder="confirm password" required>
        <button id="done" type="submit">Register</button>
        <span>Already a User -<a href="/login">Login</a></span>
    </form>

    <% if (error) { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: '<%= error %>',
            });
        </script>
    <% } %>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const pass = form.password.value.trim();
            const confpass = form.confPassword.value.trim();

            if (pass !== confpass) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: "Password doesn't match!",
                    text: 'please ensure both password are same',
                });
            }
        });
    </script>
</body>
</html>