*{
    margin: 0;
    padding: 10px;
    font-family: cursive, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FDFAF6;
    color: #41444B;
    text-align: center;
}

h2 {
    margin: 20vh auto 0;
    font-size: 2em;
}

form {
    margin: 15px auto;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

input{
    all: unset;
    padding: 10px 15px;
    width: calc(100% - 15px);
    border: 2px solid black;
    border-radius: 25px;
    text-align: start;
}

input:focus{
    border: 2px solid blue;
}

#done {
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    background-color: #9aec9b;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
}